<!-- views/partials/navbar.ejs -->
<div class="navbar">
    <div class="header__bg"></div>
    <div class="toggle">
        <button id="hamburger" class="hamburger hamburger--collapse" type="button">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
    </div>
    <ul>
        <li class="left-nav"><a href="/"><img id="logo" class="nav-icon" src="/images/navbar/logo.svg" alt="Kittichote Kamalapirat"></a>
        </li>
        <li class="left-nav"><a href="/project">projects</a></li>
        <li class="left-nav"><a href="/case">case studies</a></li>
        <li class="right-nav"><a href="https://github.com/KittichoteKamalapirat" target="_blank">
            <img class="nav-icon" src="/images/navbar/github.svg" alt="github"></a></li>
        <!-- <li class="right-nav">
            <a><img src="/images/navbar/gmail.svg" alt="gmail"></a>
        </li> -->

        <li class="right-nav">
            <div class="popup" onclick="popupFunction()">
                <img class="nav-icon" src="/images/navbar/gmail.svg" alt="gmail">
                <span class="popuptext" id="myPopup">kittichoteshane@gmail.com</span>
            </div>
        </li>


        <li class="right-nav"><a href="https://www.linkedin.com/in/kittichote-kamalapirat-076aaa120/"
                target="_blank"><img class="nav-icon" src="/images/navbar/linkedin.svg" alt="linkedin"></a></li>
        <li class="right-nav"><a id="resume" href="../../public/images/navbar/2018resume.pdf"
                download="resume-Kittichote-Kamalapirat"><img class="nav-icon" src="/images/navbar/resume.svg" alt="resume"></a></li>



    </ul>
    <a class="backtohome" href="/"></a>
</div>