:root {
    --green: #00AB95;
    --dark-grey: rgb(77, 77, 77);
    --pale-grey: rgb(128, 128, 128);
    --super-pale-grey: rgb(230, 230, 230);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
    font-family: Lato, sans-serif;
}

body {
    /* background: url('/images/navbar/navbar-background.svg'); */
    background-color: #00AB95;
    /* background-size:cover; */
    background-repeat: no-repeat;
    background-color: #1A1A1A;
    color: white;
}

img {
    width: 100%;
}

/* Navbar Styling */
/* 
.navbar {
    font-size: 1rem;
    padding: 1rem;
    background-color: #00AB95;
    color: white;
} */

.left {
    position: relative;
    left: 1rem;
    bottom: 1.5rem;
}

ul {
    /* display: inline; */
    width: 100%;
    margin: 2rem;
    padding-right: 2rem;
}

ul li {
    display: inline;
    margin: 1rem;
}

ul li:first-child {
    float: left
}

ul li:nth-child(2) {
    float: left
}

ul li:nth-child(3) {
    float: left
}

ul li {
    float: right;
}

.navbar img {
    width: 2rem;
}

.right {
    float: right;
}

#logo {
    width: 2rem;
}

.left {
    float: left;
    position: relative;
    top: 0rem;
}

.center {
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

/* Head Styling */

.header {
    padding: 7rem;
    text-align: center;
}

.header h1 {
    font-size: 2.5rem;
    font-weight: 300;
}

.header h2 {
    font-size: 2rem;
    font-weight: 300;
}

.header p {
    width: 80%;
    margin: 0 auto;
    padding: 3rem;
    font-size: 1rem;
    font-weight: 300;
}

/* sns icon */

svg:hover {
    fill: black;
}

#change {
    /* for deisng */
    color: var(--green);
    opacity: 0.5;
    font-weight: 700;
    position: absolute;
    top: 10rem;
    left: 2rem;
    font-size: 3rem;
    z-index: -1;
    /* for transtion */
    transition: transform 1s;
    display: inline-block;
    width: 200px;
    text-align: center;
}

.out {
    transform: scale(0) rotate(30deg);
}

/* for responsive */

.toggle {
    display: none;
}

@media screen and (max-width: 600px) {
    * {
        margin: 0;
        padding: 0;
        border: 0;
        box-sizing: border-box;
    }
    body {
        /* background: url('/images/navbar/navbar-background-for-phone.svg'); */
        background-repeat: no-repeat;
        background-color: #1A1A1A;
        color: white;
    }
    html {
        font-size: 16px;
        margin: 0;
    }
    .header {
        width: 100%;
        padding: 0;
        margin-top: 8rem;
        /* position: absolute; */
        /* top: 50%; */
        /* transform: translateY(-50%); */
        z-index: -1;
    }
    .header p {
        font-size: 1.2rem;
        width: 100%;
    }
    .toggle {
        display: block;
    }
    .navbar{
        background-color: #00AB95;
    }
    /* .navbar::after {
        content: "";
        background-color: #00AB95;
        background: url("/images/navbar/logo.svg");
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        width: 2rem;
        margin: 1rem auto;
        height: 2rem;
    } */
    ul {
        margin: 0;
        background-color: var(--green);
        display: none;
    }
    ul li {
        display: block;
        clear: both;
        float: none;
        text-align: center;
    }
    ul li .right-nav {
        display: inline-block;
    }
    ul li:first-child {
        float: none;
    }
    ul li:nth-child(2) {
        float: none;
    }
    ul li:nth-child(3) {
        float: none;
    }
    .active {
        display: block;
    }
}