<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Kittichote Kamalapirat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css">
    <link rel="stylesheet" type="text/css" medsia="screen" href="/css/case.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
</head>

<body>

    <!-- <img src="images/navbar-background.svg" alt="navbar" id="navbar-background"> -->
    <div class="navbar">
            <ul>
    
                <li class="left"><a href="/"><img id="logo" src="images/navbar/logo.svg" alt="Kittichote Kamalapirat"></a>
                </li>
                <li class="left"><a href="/projects">projects</a></li>
                <li class="left"><a href="/case">case studies</a></li>
                <li class="right"><a href="https://github.com/KittichoteKamalapirat" target="_blank"><img id="github"
                            src="images/navbar/github.svg" alt="github"></a></li>
                <li class="right">
                    <a"><img src="images/navbar/gmail.svg" alt="gmail"></a>
                </li>
                <li class="right"><a href="https://www.linkedin.com/in/kittichote-kamalapirat-076aaa120/"
                        target="_blank"><img src="images/navbar/linkedin.svg" alt="linkedin"></a></li>
                <li class="right"><a id="resume" href="../../public/images/navbar/2018resume.pdf"
                        download="resume-Kittichote-Kamalapirat"><img src="/images/navbar/resume.svg" alt="resume"></a></li>
            </ul>
        </div>

    <div class="header">
        <h1>Case Studies</h1>
        <p>The more you create, the more you learn.  I believe that we, designers, improve ourselves through hands-on experience. I design the best user experience. However, I'm still on the journey of designing</p>
    </div>
    <div class="wrapper">
        <a href='/case/junction'><img id="junction" class= "case-thumbnail" src="images/case/medeasy.svg" alt="MedEasy Project Thumbnail"></a>
        <a href='/case/tedx-flyer'><img class= "case-thumbnail" src="images/case/tedx-poster.svg" alt="TEDxYNU poster Thumbnail"></a>
            <a href='/case/portfolio-website'><img class= "case-thumbnail" src="images/case/port-website.svg" alt="Portfolio Website Thumbnail"></a>
                <a href='/case/tedx-website'><img class= "case-thumbnail" src="images/case/tedxynu-website.svg" alt="TEDxYNU Website Thumbnail"></a>
                    <a href='/case/gochiso'><img class= "case-thumbnail" src="images/case/gochiso.svg" alt="gochiso thumbnail"></a>
                        <a href='/case/thirty-logo-challenge'><img class= "case-thumbnail" src="images/case/thrity-logo-challenge.svg" alt="Thrity Logo Challenge Thumbnail"></a>
    </div>
    


    <script src="main.js"></script>
</body>

</html>