<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Kittichote Kamalapirat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/cases.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
    <link href="/css/hamburgers.css" rel="stylesheet">
</head>

<body>
    <% include ../partials/navbar.ejs%>
    <div class="header">
        <h1>Case Studies</h1>
        <p>The more you create, the more you learn. I believe that we, designers, improve ourselves through hands-on
            experience. I design the best user experience. However, I'm still on the journey of designing</p>
    </div>
    <div class="wrapper">
        <!-- junction -->
        <a href='/case/junction'>
            <div class="img__wrap case-thumbnail">
                <img class="img__img" src="/images/case/junction.svg" alt="Junction Thumbnail" />
                <div id="junction-thumbnail" class="img__description_layer ">
                    <div class="img__description">
                        <h2>Junction Hackathon</h2>
                        <p>Mobile Application Design</p>
                    </div>
                </div>
            </div>
            <!-- tedx-flyer -->
            <a href='/case/tedx-flyer'>
                <div class="img__wrap case-thumbnail">
                    <img class="img__img" src="/images/case/tedx-flyer.svg" alt="TEDxYNU flyer Thumbnail" />
                    <div id="tedx-flyer-thumbnail" class="img__description_layer ">
                        <div class="img__description">
                            <h2>TEDxYNU Flyer</h2>
                            <p>Visual Graphic Design</p>
                        </div>
                    </div>
                </div>
            </a>


            <a href='/case/portfolio-website'>
                <div class="img__wrap case-thumbnail">
                    <img class="img__img" src="/images/case/portfolio-website.svg" alt="Portfolio Website Thumbnail" />
                    <div id="portfolio-thumbnail" class="img__description_layer ">
                        <div class="img__description">
                            <h2>My Portfolio</h2>
                            <p>User Experience</p>
                        </div>
                    </div>
                </div>
            </a>

            <a href='/case/tedx-website'>
                <div class="img__wrap case-thumbnail">
                    <img class="img__img" src="/images/case/tedx-website.svg" alt="TEDxYNU Website Thumbnail" />
                    <div id="tedx-website-thumbnail" class="img__description_layer ">
                        <div class="img__description">
                            <h2>TEDxYNU Website</h2>
                            <p>Website Design, User Experience</p>
                        </div>
                    </div>
                </div>
            </a>

            <a href='/case/gochiso'>
                <div class="img__wrap case-thumbnail">
                    <img class="img__img" src="/images/case/gochiso.svg" alt="Gochiso Thumbnail" />
                    <div id="gochiso-thumbnail" class="img__description_layer ">
                        <div class="img__description">
                            <h2>Gochiso</h2>
                            <p>Logo Design, Sticker Design</p>
                        </div>
                    </div>
                </div>
            </a>

            <a href='/case/thirty-logo-challenge'>
                <div class="img__wrap case-thumbnail">
                    <img class="img__img" src="/images/case/thirty-logo-challenge.svg"
                        alt="thirty-logo-challenge Thumbnail" />
                    <div id="thirty-logo-challenge-thumbnail" class="img__description_layer ">
                        <div class="img__description">
                            <h2>Thirty Day Logo challenge</h2>
                            <p>Logo Design</p>
                        </div>
                    </div>
                </div>
            </a>
    </div>



    <script src="/javascript/main.js"></script>
</body>

</html>