<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Kittichote Kamalapirat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/junction.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
</head>

<body>

    <div class="navbar">
        <ul>

            <li class="left"><a href="/"><img id="logo" src="images/navbar/logo.svg" alt="Kittichote Kamalapirat"></a>
            </li>
            <li class="left"><a href="/projects">projects</a></li>
            <li class="left"><a href="/case">case studies</a></li>
            <li class="right"><a href="https://github.com/KittichoteKamalapirat" target="_blank"><img id="github"
                        src="images/navbar/github.svg" alt="github"></a></li>
            <li class="right">
                <a"><img src="images/navbar/gmail.svg" alt="gmail"></a>
            </li>
            <li class="right"><a href="https://www.linkedin.com/in/kittichote-kamalapirat-076aaa120/"
                    target="_blank"><img src="images/navbar/linkedin.svg" alt="linkedin"></a></li>
            <li class="right"><a id="resume" href="../../public/images/navbar/2018resume.pdf"
                    download="resume-Kittichote-Kamalapirat"><img src="/images/navbar/resume.svg" alt="resume"></a></li>
        </ul>
    </div>

    <div class="case-container">
        <h1 class="case-title">Gochiso</h1>

        <div class="center">
                <img class="three-fourth-width" src="images/gochiso/gochiso-logo.png" alt="Gochiso Logo">
            </div>

        <h2>background</h2>
        <p>Although I am a graphic designer, I did not many opportunities to design something. In a real world. I practiced my design skills by doing 30 days logo challenges and making stuff for my friends. However, I always longed a real-world experience. Luckily, I saw a post in an international student in Japan facebook group mentioning that a Japanese startup is looking for a volunteer designer. I did not hesitate to reach to the startup and start working on its stickers. These stickers will be used to put at restaurants so that customers know that the restaurant they are eating at are NGO supporters and restaruant owners are pround in themsevles too.
        </p>
        <p>The company is Gochiso. We match members of non-profit organization (NPO) and restaurants to support each other. I will not mentioned in too detail here.
            </p>
            <h2>Result</h2>
            <p>Here is the final result I sent to the company. I think that it’s important to put “持続可能な開発目標” below the logo since normal people would not know what that logo is without the text. However, the company did not put the text in.
                </p>

            <div class="center">
                    <img class="full-width" src="images/gochiso/gochiso-sticker.png" alt="Gochiso Sticker">
                </div>

        <h2>My Role</h2>
        <p>I honestly did not do much in this project. The CEO only told me to put the the company’s logo and SDG’s logo on it. I only designed the layout.
        </p>
        <h2>My Reflection</h2>
        <p>The good part is that I pretty much liked what I designed. It was pretty simple the our boss did use my design. ( although they changed it a little bit)  However, The bad part is that I did not ask any of my friends to give me feed back for this design so I kinda feel that I didn’t improve much from this project.

        </p>

        <h2>My Role</h2>
        <p>My main role was to do the User Experience of the website. What pages do we need, where to put buttons and links, and the design of the website.
            </p>
        <h2>Reflection</h2>
        <p>Firstly, it took us pretty long to develop this simple website. The reason is that we did not really have any information to put on. For example, we would like to put the information for the keynote speaker, however, the curator team gather those information really slowly. Moreover, we would like to put the event information on the website, we didn’t have the date decided yet so we couldn’t put it on the website. 
            </p>

    </div>
    <script src="images/main.js"></script>
</body>

</html>