<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Kittichote Kamalapirat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/cases.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/case.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
    <link href="/css/hamburgers.css" rel="stylesheet">
</head>

<body>

    <!-- <img src="/images/navbar-background.svg" alt="navbar" id="navbar-background"> -->
    <% include ../partials/navbar.ejs%>

    <div class="case-container">
        <h1 class="case-title">case studies: Junction hackathon</h1>
        <img src="/images/case/junction/junction.png" alt="Junction Introduction">

        <img src="" alt="">
        <h3>Background</h3>
        <p>Junction is one of the biggest annual hackathon in the world. This year 2019 is the 3rd year of Junction
            Tokyo. This is the second time in my life to participate in a hackathon. This year, there re 3 themes that
            everyone has to choose from which are</p>
        <ol>
            <li>APIs Hack</li>
            <li>AI For Humanity</li>
            <li>Mad Media</li>
        </ol>
        <p>Our team consists of 4 members including me. 2 members are back-end developers, one is a service designer,
            and I'm a front-end developer. We firstly did not decide specifically which route we want to take, instead,
            we discussed about problem we encount1ered in our life and see whether we could use any technologies
            corresponding to the themes to solve the problem. Each of the member come up with around 4 to 5 problem.
        </p>
        <div class="image-container">
            <img class='single-image' src="/images/case/junction/brainstorm.jpg" alt="brainstorm paper">
        </div>
        <div class="image-description">Ideas we came up with during the brainstorming session</div>
        <p>We discuss each one by one and finally agreed on working with number 12, which is a healthcare problem that
            patients with low literacy could not understand medicine label. The reason that we picked this problem is
            that </p>
        <ol>
            <li>We believe there is needs for this problem</li>
            <li>It matches the theme of this hackathon, either API for Ai</li>
        </ol>
        <h3>Objective</h3>
        <p>This hackathon is actually the first experience for most of our members so we did not aim for winning
            whatsoever. Just to have fun at the hackathon kind of. However, we did believe that the problem we’re trying
            to solve is a serious one and genuinely tried to solve the problem. In short, our ultimate goal was to help
            those patients who are in need.</p>
        <h3>Result</h3>
        <p>In hackathon, although we could not get the first prize, we were selected as finalists for the Ai for
            humanity path. Yay ! On the production side, we are still on the progress of making this service available
            to the public.</p>
        <h3>My Role</h3>
        <p>My role was a visual design fot the user interface. I tried to make the flow of the application as simple as
            possible so its easy for the back-end side to work smoothly.</p>
        <h3>Reflection</h3>
        <p>The good part is that we had a lot of fun during the hackathon. Also, I personally think I did pretty well
            with the design of the applicaton. </p>
        <p>The bad part is that it took me so much time learning how to use NativeScript which is a technology I have
            never used before. Moreover, I am not good at working overnight so I just went back home by last train while
            most of my team members stayed overnight working at the hackathon venue. </p>



        <div>
            <img class="split" src="/images/case/junction/welcome.png" alt="welcome to medeasy page">
            <img class="split" src="/images/case/junction/what.png" alt="what is medeasy page">
        </div>
        <img class="split" src="/images/case/junction/signup.png" alt="signup page">
        <img class="split" src="/images/case/junction/profile.png" alt="profile page">
        <img class="split" src="/images/case/junction/camera.png" alt="take photo page">
        <img class="split" src="/images/case/junction/scan.png" alt="scan page">
        <img class="split" src="/images/case/junction/caution.svg" alt="caution page">
        <img class="split" src="/images/case/junction/time.svg" alt="set time page">

    </div>
    <script src="/javascript/main.js"></script>
</body>

</html>