<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Kittichote Kamalapirat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/junction.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
</head>

<body>

    <div class="navbar">
        <ul>

            <li class="left"><a href="/"><img id="logo" src="/images/navbar/logo.svg" alt="Kittichote Kamalapirat"></a>
            </li>
            <li class="left"><a href="/projects">projects</a></li>
            <li class="left"><a href="/case">case studies</a></li>
            <li class="right"><a href="https://github.com/KittichoteKamalapirat" target="_blank"><img id="github"
                        src="/images/navbar/github.svg" alt="github"></a></li>
            <li class="right">
                <a"><img src="/images/navbar/gmail.svg" alt="gmail"></a>
            </li>
            <li class="right"><a href="https://www.linkedin.com/in/kittichote-kamalapirat-076aaa120/"
                    target="_blank"><img src="/images/navbar/linkedin.svg" alt="linkedin"></a></li>
            <li class="right"><a id="resume" href="../../public/images/navbar/2018resume.pdf"
                    download="resume-Kittichote-Kamalapirat"><img src="/images/navbar/resume.svg" alt="resume"></a></li>
        </ul>
    </div>

    <div class="case-container">
        <h1 class="case-title">Portfolio Website</h1>

        <div class="center">
            <img class="full-width" src="/images/case/portfolio-website/homepage.svg" alt="Portfolio Website Homepage">
        </div>

        <h2>Background</h2>
        <p>I came to the idea of making my own website when I was looking for designer and developer job.
            Most of the time in Japan, you have to write job application for every single each company you apply for
            which I a pretty tiring process. I think it would be better that you write whatever you want you potential
            employers to know about you on your website. Moreover, most designers have their own websites I actually
            already had my first version website, which I think suck. That’s why I decided to make a new one.

        </p>

        <h2>Problem with the first portfolio</h2>
        <p>The problem with <a href="kittidesign.herokuapp.com
        ">the first portfolio</a> is that
        </p>
        <ol>
            <li>There are no stories behind them, I just put all of the designs in the website, few texts, no stories.
            </li>
            <li>It doesn’t look so professional, due to the theme the layout and most importantly the url, I used heroku
                at that time becasue it's free
            </li>
            <li>It is mostly static endnote responsive. I would like it to be more interactive. Some animations, for
                example.
            </li>
        </ol>
        <p>Of course, there is a good point I like about this version too which is the fact that it is a single page
            application and the navigation is really intuitive.

        </p>
        <h2>Objective</h2>
        <p>In addition to the above problem of my first version website, the reasons I am redesigning my new website is
        </p>
        <ul>
            <li>Firstly to showcase my design and developing skills.
            </li>
            <li>Doing passive job searching.
            </li>
            <li>Get hands-on experience for building proper website
            </li>
            <li>Commit myself to finish a project thoroughly
            </li>
        </ul>


        <h2>Result</h2>
        <p>The result is obviously <a href='/'>this website </a>!
        </p>

        <h2>My Role</h2>
        <p>Basically everything. Design including visual design, user experience and coding.

        </p>

        <div class="center">
                <img class="full-width" src="/images/case/portfolio-website/firstcasepage.svg" alt="Portfolio Website Homepage">
            </div>
<p class="image-description">First draft of the case studies page</p>

        <div class="center">
                <img class="full-width" src="/images/case/portfolio-website/finalcasepage.svg" alt="Portfolio Website Homepage">
            </div>
            <p class="image-description">current design of the case studies page</p>
        <h2>Reflection</h2>
        <h3>Good points</h3>
        <ul>
            <li>This website includes case studies so employers know how I think
            </li>
            <li>It looks kinda professional in my opinion
            </li>
        </ul>
        <h3>Bad points</h3>
        <ul>
            <li>I took a lot of time, like few weeks even though I planned to finish it in few days. I did this during
                my trips to Thailand, Myanmar, and Kansai area in japan
            </li>
            <li>This website does look professional, however, it does really tell about my personality. I am a more fun
                person. I think a portfolio website should tell about that person personality too.
            </li>

            <li>I did everything mixed. Like one day I would do the backend, I would change to front end even thoughI didn’t finish the backend yet. That is why I would like to learn more about the development workflow in a more systematic way
                </li>
        </ul>
        <h2>Technology</h2>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Node (Express)</li>
        </ul>
    </div>
    <script src="/images/main.js"></script>
</body>

</html>