<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Kittichote Kamalapirat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css">
    <link rel="stylesheet" type="text/css" medsia="screen" href="/css/case.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
</head>

<body>

    <!-- <img src="images/navbar-background.svg" alt="navbar" id="navbar-background"> -->
    <div class="navbar">
        <ul>

            <li class="left"><a href="/"><img id="logo" src="/images/navbar/logo.svg" alt="Kittichote Kamalapirat"></a>
            </li>
            <li class="left"><a href="/projects">projects</a></li>
            <li class="left"><a href="/case">case studies</a></li>
            <li class="right"><a href="https://github.com/KittichoteKamalapirat" target="_blank"><img id="github"
                        src="/images/navbar/github.svg" alt="github"></a></li>
            <li class="right">
                <a"><img src="/images/navbar/gmail.svg" alt="gmail"></a>
            </li>
            <li class="right"><a href="https://www.linkedin.com/in/kittichote-kamalapirat-076aaa120/"
                    target="_blank"><img src="/images/navbar/linkedin.svg" alt="linkedin"></a></li>
            <li class="right"><a id="resume" href="../../public/images/navbar/2018resume.pdf"
                    download="resume-Kittichote-Kamalapirat"><img src="/images/navbar/resume.svg" alt="resume"></a></li>
        </ul>
    </div>

    <div class="header">
        <h1>Projects</h1>
        <p>I always like doing new stuff. The more you practice, the better you become. Practice makes perfect !</p>
    </div>
    <div class="wrapper">
        <a href='/project/portfolio-website'>
            <div class="img__wrap case-thumbnail">
                <img class="img__img" src="/images/project/portfolio-website.svg" alt="Portfolio Website Thumbnail" />
                <div id= "portfolio-thumbnail" class="img__description_layer ">
                    <div class="img__description">
                        <h2>My Portfolio</h2>
                        <p>User Experience</p>
                    </div>
                </div>
            </div>
        </a>


        <a href='/project/portfolio-website'>
            <div class="img__wrap case-thumbnail">
                <img class="img__img" src="/images/project/portfolio-website.svg" alt="Portfolio Website Thumbnail" />
                <div class="img__description_layer">
                    <div class="img__description">
                        <h2>My Portfolio</h2>
                        <p>User Experience</p>
                    </div>
                </div>
            </div>
        </a>




        <img class="case-thumbnail" src="/images/project/portfolio-website.svg" alt="Portfolio Website Thumbnail">
        </a>
    </div>
    <script src="main.js"></script>
</body>

</html>