<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Kittichote Kamalapirat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/cases.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/case.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
    <link href="/css/hamburgers.css" rel="stylesheet">
</head>

<body>

        <% include ../partials/navbar.ejs%>
    <div class="case-container">
        <h1 class="case-title">TEDxYNU Website</h1>
        <div class="center">
            <img class="three-fourth-width" src="/images/case/tedx-website/tedx-homepage.png" alt="TEDxYNU Website Homepage">
        </div>
        <h2>background</h2>
        <p>TEDxYNU is a university club my friends and me started in 2018. We already had our first event on November
            10th, 2018. Previous to the event for a few months, we would like to have the website completely set up so
            our audiences can find out more about our event.
        </p>

        <div class="center">
                <img class="half-width" src="/images/case/tedx-website/tedx-logo.png" alt="TEDxYNU Logo">
            </div>

        <h2>Solution</h2>
        <p>Firstly, we thought of what kind of information do we need to provide on the website. Here are the list of
            came up with
        </p>
        <ul>
            <li>Homepage: providing information about the event
            </li>
            <li>About us page. What is TED, TEDx, TEDxYNU. Apparently, many people know TED but not
            </li>
            <li>Sponsor page: so we can attract potential sponsor who would like to be our partner
            </li>
            <li>Contact page: so audiences, speakers, and sponsors can contact us when to find out more
            </li>
        </ul>
        <p>Here is the website<a href="http://tedxynu.com/">TEDxYNU</a>. Not that there might be some modification from the version when I am writing this case.
        </p>

        <div class="center">
                <img class="three-fourth-width" src="/images/case/tedx-website/tedx-about.png" alt="TEDxYNU Website About Page">
            </div>

        <h2>My Role</h2>
        <p>My main role was to do the User Experience of the website. What pages do we need, where to put buttons and links, and the design of the website.
            </p>
        <h2>Reflection</h2>
        <p>Firstly, it took us pretty long to develop this simple website. The reason is that we did not really have any information to put on. For example, we would like to put the information for the keynote speaker, however, the curator team gather those information really slowly. Moreover, we would like to put the event information on the website, we didn’t have the date decided yet so we couldn’t put it on the website. 
            </p>

    </div>
    <script src="/javascript/main.js"></script>
</body>

</html>