<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Kittichote Kamalapirat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/case.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
    <link href="/css/hamburgers.css" rel="stylesheet">
</head>

<body>
        <% include ../partials/navbar.ejs%>

    <div class="case-container">
        <h1 class="case-title">TEDxYNU Flyer</h1>
        <h2>Background</h2>
        <p>As a front end developer and aspiring graphic designer, I’ve noticed a frightening trend, especially on the online world. Everyone complains about how all Instagram photos all look the same (and yes, they do), web aesthetics are going down the same route, if it’s not already there.</p>
        <p>At our TEDxYNU club, we look for new members every semester we we can continually organizing the events every
            year. Since the semester will start next month and we would like to make as many new student as possible to
            get to know our club, we would like to print flyers and put them into the club flyers bag which is a bag
            full of flyers from many many clubs in our university which will be distributed during the School Entrance
            Ceremony.</p>
        <h2>Objective</h2>
        <p>The objective here is to get passionate 1st year students as many as possible into our club. </p>
        <h2>What we did</h2>
        <p>Firstly, before designing the actual flyer, I wrote down main points such as the objective, what kind of
            students are we looking for, how can we achieve, what kind of information should we put in the etc. Then, I
            made rough designs on paper before starting to design in Adobe illustrator. I love doing this because it’s
            fast and you can try a lot of layouts very rapidly. Then, I picked some of those rough designs I like and
            start to make them on computer.
        </p>
        <div class="center">
            <img class="half-width" src="/images/case/tedx-flyer/brainstorm.jpg" alt="Brainstorming paper">
        </div>
        <p class="image-description">brainstorming and rough design on paper before using computer</p>
        <p>Below was the first version with a random placeholder as “JOIN US Hols Hola”. I thought to put the Japanese
            version on the other side of the flyer so both Japanese students and international students could understand
            this.
        </p>
        <div class="center">
            <img class="half-width" src="/images/case/tedx-flyer/firstversion.png" alt="first version of the flyer">
        </div>
        <p class="image-description">First version of the flyer</p>
        <p>To be host, I liked it pretty much in the beginning.
            However, it’s difficult to put text to it since the space is so small.
        </p>
        <p>Then, we thought of some catch phrase so it sounds something to the those who see the posters.
            We came up with two which are　<br>
            「1年生で組織を運営して価値あるアイデアを発信しないか」<br>and <br>「君のアイディアを共に形にしよう」。<br>
            「1年生で組織を運営して価値あるアイデアを発信しないか」 literally means
            “Don’t you wanna run an organization while you’re still 1st year students and propel valuable ideas"<br>
            「君のアイディアを共に形にしよう」means " Let’s embody your idea together "
        </p>
        <p>Okay, both of these sound terrible when translating to English but it does sound pretty good in Japanese.
            (Guaranteed by Japanese people !)
            The first one sounds tangibly but not so cool while the second it cool but kinda abstract.
        </p>
        <p>I ended up picking the first once because out objective was to get first year students who would like to run
            our organization.
        </p>
        <h2>Result</h2>
        <div class="center">
            <img class="half-width" src="/images/case/tedx-flyer/finalversion.png" alt="final version of the flyer">
        </div>
        <p class="image-description">Final version of the flyer</p>
        <div class="center">
            <img class="full-width" src="/images/case/tedx-flyer/mockup.png" alt="print mockup of the flyer">
            <p class="image-description">Mockup before printing</p>
        </div>
    </div>
    <script src="/javascript/main.js"></script>
</body>

</html>